.input-group {
    margin: 10px 0;
    width: 65%;
}

.btn {
    font-size: 16px;
    padding: 5px 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[type=text] {
    background-color: white !important;
    width: 65% !important;
}

.panel {
    font-size: 16px;
    width: 45% !important;
} 